body{
  background-color: #a3a3a3;
}
.top{
  text-align: center;
}
.column {
  width: 25%;
  float: left;
  color:black;
  border: 2px solid blue;
  padding: 1%;
  margin: 1%;
  background-color: yellow;
}

.intro{
  font-size:150%;
  font-style: italic;
}
.column h4 {
  color: red;
}
.column h3{
  color: blue;
}
.column h3 a{
  font-style:italic;
  color: green;
}
